@import 'tailwindcss';




@tailwind base;
@tailwind components;
@tailwind utilities;

.propertyinfo{
 grid-template-columns:70% 28% 

}
.view-properties{
    position: relative;
    bottom: 28px;
}

@media (max-width: 767px) {
  /* Mobile styles */

.propertyinfo{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

}